settings:
  local: true

hedera:
  account:
    id:
    # DER-encoded keys provided by Hedera
    public_key:
    private_key:

wallet:
  # "couchdb" or "filesystem"
  type: "filesystem"
  couchdb:
    url: ""