global:
  settings:
    local: true

  hedera:
    account:
      id:
      # DER-encoded keys provided by Hedera
      public_key:
      private_key:

  wallet:
    type: "filesystem" # "couchdb" or "filesystem"
    couchdb:
      url: ""
      username: ""
      password: ""