global:
  settings:
    local: true

  hedera:
    account:
      id:
      # DER-encoded keys provided by Hedera
      public_key:
      private_key:

  couchdb:
    url: ""
    username: ""
    password: ""